body {
  background-color: whitesmoke;
}

ul {
  list-style-type: none;
}

#menu {
  padding-left: 87px;
  float: left;
  font-size: 11pt;
}

#list {
  color: grey;
}

#secnav {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

.navbarbox {
  box-sizing: border-box;
}

#ways {
  padding-left: 128px;
  padding-right: 128px;
}

#phone {
  margin-left: 380px;
}

#hours {
  font-size: 15px;
}

#number {
  color: rgb(14, 190, 243);
  font-size: 20px;
}

#bottom {
  margin-left: 350px;
}

#copyright {
  color: gray;
  margin-left: 128px;
  font-size: 14px;
}

#trusted {
  margin-left: 865px;
  height: 42px;
}

#img {
  width: 50px;
  height: 50px;
}

#bimg {
  width: 500px;
  height: 500px;
}

#sdiv {
  padding-left: 380px;
}

#fdiv {
  padding-left: 235px;
}

#earbudsblack {
  width: 1500px;
  margin-top: 38px;
}

#opbp {
  position: absolute;
  margin-top: 92px;
  font-size: 22pt;
  font-family: Arial, Helvetica, sans-serif;
}

#price {
  position: absolute;
  margin-top: 142px;
  font-size: 20pt;
  font-family: Arial, Helvetica, sans-serif;
}

#avilability {
  position: absolute;
  margin-top: 185px;
  font-size: 12pt;
  font-family: Arial, Helvetica, sans-serif;
}

#color {
  position: absolute;
  margin-top: 265px;
  color: grey;
  font-size: 14pt;
}

#glossy {
  position: absolute;
  margin-top: 300px;
}

#matte {
  position: absolute;
  margin-top: 300px;
  margin-left: 335px;
}

#earphone {
  color: white;
  position: absolute;
  top: 850px;
  left: 301px;
  font-size: 28pt;
  font-family: Arial, Helvetica, sans-serif;
}

#moreinfo {
  color: white;
  position: absolute;
  top: 918px;
  left: 322px;
  font-size: 14pt;
}
